# Example .env file for Diabetes_IA_backend
# Puerto en el que corre el servidor Express
PORT=5432

# Orígenes permitidos para CORS (separados por coma)
CORS_ORIGIN=http://localhost:3000

# URL de conexión a la base de datos PostgreSQL (Supabase)
SUPABASE_DB_URL=postgresql://usuario:contraseña@host:puerto/base_de_datos

# Clave secreta para JWT
JWT_SECRET=tu_clave_secreta_super_segura

# Entorno de ejecución (development o production)
NODE_ENV=development

# Clave de API para el servicio de envío de correos electrónicos (Resend)
RESEND_API_KEY=re_gGHjXBb6

# Dirección de correo electrónico desde la cual se enviarán los correos (Resend)
RESEND_FROM=soporte@diabetes-ia.com
