 .Contenedor-principal-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dde2e9;



 }
 .Contenedor-login{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 15px 20px #6399e9;
    width: 70vh ;
    height: 70vh;   

    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
        
 }
 .logo img{
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
 }
 input[type="email"],
input[type="password"]  {
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1rem;
  padding: 8px 8px  ;
  color: #333;
  border-radius: 5px;
  border: solid 1px #dde2e9;
}
input[type="submit" ]{
    border: none;
  outline: none;
  color:#001113;
  box-shadow: none;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1rem;
  width: 100%;
  padding: 8px 0;
  color: white;
  background-color: #5988ce;
}

h1{
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 24px;
    color: #224b66
}
 .input-correo{
    padding:10px;
      border: none;


 }
 .input-contraseña{
    padding:10px;
 }
 .boton{
    background-color: #5988ce;
   
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
 }
 .boton:hover{
    
    cursor: pointer;
 }

 .Olvido-contrasena{
    color: #2e4870;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
 }

.registro{
    color: #6399e9;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}
a,
a:visited,
a:active,
a:hover {
  color: #6399e9;       
  text-decoration: none;  
  outline: none;          
}


a:hover {
  color: #1976d2;
}
